body {
	font-family: 'Montserrat';
}

footer {
	margin-top: 177px;
}

a.nounderline {
	text-decoration: none !important;
	color: black !important;
}

.font-12 {
	font-size: 10pt;
}

.contact{
    float: left;
    margin-right: 10px;
}
.contact-box-icon {
	float: left;
	width: 20px;
	padding-right: 10px;
}

.logorum {
	width: auto !important;
	height: 100px !important;
}

.slide{
	margin-top: 80px;
}


/* Desktop Version */
@media (min-width: 992px) {
	
	.logorum {
		display: block;
		position: absolute;
		left: 52px;
		top: 70%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%)
	}
	.logorum img{
		width: auto !important;
		max-height: 70px !important;
	}

	/* Footer */
	.bg-gray {
		background-color: #F3F3F1;
	}

	.row-footer {
		margin-top: 76px;
	}
}
